/* AddUser.css */

.card {
    max-width: 25%;
    margin: 0 auto;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
    text-align: center;
  }
  
  .card h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #343a40;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #343a40;
    display: block;
    margin-bottom: 5px; /* Added margin bottom for better spacing */
  }
  
  .form-control {
    width: 80%;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s ease; /* Added transition for smoother interaction */
  }
  
  .form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Added transition for smoother interaction */
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  

  